@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 1. Forzar que html y body ocupen toda la altura y tengan fondo plomo */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f4f6; 
  color: #1f2937;
}

.btn-primary {
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  @apply bg-green-600;
}

.main_container {
  min-height: 100vh;
  background-color: #f3f4f6;
}