.welcome-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  min-height: 100vh;
  background-image: url("/fondo-botanico.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f0f0f0;
}
.container_dashboard {
  display: flex;
  flex-direction: row;
}
.container_dashboard p,
.container_dashboard span {
  color: white;
}
.container_dashboard .container_welcome {
  margin: 8rem;
  display: flex;
  flex-direction: column;
}
.container_dashboard .container_welcome .container_title {
  font-size: 3rem;
  font-weight: 700;
  white-space: nowrap;
}
.container_dashboard .container_welcome .description {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.container_dashboard .container_welcome .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
}
.container_dashboard .container_text {
  margin: 7rem;
  display: flex;
  flex-direction: column;
  font-size: 1.45rem;
  font-weight: 500;
}
.container_dashboard .container_text .title {
  text-align: center;
}
.container_dashboard .container_text .description {
  text-align: justify;
}
.container_dashboard .container_text .finally {
  text-align: center;
}
